

 :focus{
    outline: none;
}
.box{
    box-sizing: border-box;
    width:360px;
    height: 500px;
    bottom: 2px solid #3498db;
    box-shadow: -3px -3px 7px #ffffff73,
                 3px 3px  5px rgba(94, 104, 121, 0.288);
                 border-radius: 5px;
                 background-color: whitesmoke;
                 margin-top: 50 px;
                 overflow: hidden;
}
.profile-img {
    box-sizing: border-box;
    width: 120px;
    height:120px;
    border-radius: 50%;
    margin: 4px;
    /* border: 5px solid #0082e6; */
    padding: 0px;
    /* background-color: white */
    ;
}
.edit-input{
    display: block;
    box-sizing: border-box;
    background: none;
    color: #010c13;
    margin-bottom: 30px;
    padding: 4px;
    width:220px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #0082e6;
    font-family: 'Roboto',sans-serif;
     font-weight:400 ;
     font-size: 15px;
     transition: 0.5s;

}
.edit-input :focus{
    border-bottom: 2px solid #3498db;
    border-bottom-right-radius: 20px;
    color :#3498db;
    transition: 0.2 ease;
}
.myhover:hover{
    transform: scale(1.1);
   
}
#file{
    display: none;
}

.mylable{
    box-sizing: border-box;
    font-size: 20px;
    background-color: rgb(80, 1, 116);
    color:rgb(254, 252, 255);
    border:none;
    padding: 2px;
}
