  .sub-menu-warp{
    z-index: 100;
    position: absolute;
    top: 100%;
    right:1%;
    width :300px;
     max-height: 0px;
     overflow: hidden;
     transition: max-height 0.5s;
  }
  .sub-menu-warp.open-menu{
     max-height: 400px;
  }
  .sub-menu{
    background-color: #fff;
    padding:20px;
     margin :10px;
     border-radius: 1%;
  }
  .user-info{
    display: flex;
    align-items: center;
  }
  .user-info h3{
    font-weight: 500;
  }
  .user-info img{
    width: 60px;
    border-radius: 50% ;
    margin-right: 15px;
  
  }
  
  .sub-menu hr{
    border:0;
    height: 2px;
    width:100%;
    background:#ccc;
    margin: 15px 0 10px;
  }
  .sub-menu-link{
    display:flex;
    align-items: center;
    text-decoration: none;
    color:#525252;
  }
  .sub-menu-link p{
    width:100%;
  }
  .sub-menu-link img{
    width:40px;
    background:#e5e5e5;
   border-radius: 50%;
   padding :px;
   margin-right:15px;
   margin-top: 5px;
  }
  .sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
  }
  .sub-menu-link:hover span{
  transform: translatex(5px);
  }
  .sub-menu-link:hover p{
  font-weight: 600;
  }

